IBM-EPBLIBM-Project-55591-1669182539 repository/Final Deliverables/Final Code/Node-Red/Main.java
[{"id":"b3626964d3ca3efc","type":"tab","label":"Flow 1","disabled":false,"info":"","env":[]},{"id":"c6377dfe10ccb6c5","type":"inject","z":"b3626964d3ca3efc","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":80,"wires":[["0ed2fb66b7d4a708"]]},{"id":"0ed2fb66b7d4a708","type":"function","z":"b3626964d3ca3efc","name":"","func":"var d=new Date()\nvar utc=d.getTime()+(d.getTimezoneOffset()*60000);\nvar offset = 5.5;\nnewDate = new Date(utc+(3600000*offset));\nvar n =newDate.toISOString()\nvar date = n.slice(0,10)\nvar time=n.slice(11,16)\nglobal.set(\"time\",time)\nmsg.payload=date+\" \"+time\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":220,"y":140,"wires":[["967607fc0feb4a2a","3bd136d585ee16b8"]]},{"id":"967607fc0feb4a2a","type":"cloudantplus in","z":"b3626964d3ca3efc","name":"","cloudant":"e8e674ee5e0cb282","database":"node-red-enlbv-2022-11-04","service":"_ext_","search":"_id_","design":"","index":"","x":360,"y":80,"wires":[["040493930a2a7155"]]},{"id":"040493930a2a7155","type":"switch","z":"b3626964d3ca3efc","name":"","property":"payload","propertyType":"msg","rules":[{"t":"null"},{"t":"else"}],"checkall":"true","repair":false,"outputs":2,"x":510,"y":140,"wires":[[],["36431bf85c31c423"]]},{"id":"36431bf85c31c423","type":"function","z":"b3626964d3ca3efc","name":"","func":"msg.payload=msg.payload.name\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":620,"y":80,"wires":[["dd5339bb0bbbe713","bf8eab40f9f68f2c","c56549b8d6ada0a4"]]},{"id":"dd5339bb0bbbe713","type":"function","z":"b3626964d3ca3efc","name":"","func":"var st={\"please take \":msg.payload}\nmsg.payload=JSON.stringify(st)\nmsg.payload=msg.payload.replace(':','');\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":100,"wires":[["e81c06869a189846"]]},{"id":"bf8eab40f9f68f2c","type":"ibmiot out","z":"b3626964d3ca3efc","authentication":"apiKey","apiKey":"c61d91360b8924ac","outputType":"cmd","deviceId":"1234567890","deviceType":"IOTdevice","eventCommandType":"command","format":"String","data":"1","qos":0,"name":"IBM IoT","service":"registered","x":780,"y":40,"wires":[]},{"id":"e81c06869a189846","type":"watson-text-to-speech","z":"b3626964d3ca3efc","name":"","lang":"en-US","langhidden":"en-US","langcustom":"NoCustomisationSetting","langcustomhidden":"","voice":"en-US_LisaExpressive","voicehidden":"en-US_LisaExpressive","format":"audio/wav","password":"","apikey":"KSTdsMPsUS62SL58EqzaZbAFtEW2JlggKYHUI-NKLuvx","payload-response":true,"service-endpoint":"https://api.eu-gb.text-to-speech.watson.cloud.ibm.com/instances/10758658-1ffd-49e5-ae59-ffb2aaa3b131","x":960,"y":100,"wires":[["2dc705e9ed1b3ab2"]]},{"id":"c56549b8d6ada0a4","type":"debug","z":"b3626964d3ca3efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":790,"y":180,"wires":[]},{"id":"93e7a7e9e47c5383","type":"ui_form","z":"b3626964d3ca3efc","name":"","label":"","group":"30afb0f3e06414d4","order":0,"width":0,"height":0,"options":[{"label":"Medicine Name","value":"name","type":"text","required":true,"rows":null},{"label":"Time","value":"time","type":"time","required":true,"rows":null},{"label":"Date","value":"date","type":"date","required":true,"rows":null}],"formValue":{"name":"","time":"","date":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":790,"y":500,"wires":[["2e1eabb204c5f845","7fb1124b295547bd"]]},{"id":"1d9998b27568617e","type":"delay","z":"b3626964d3ca3efc","name":"","pauseType":"delay","timeout":"10","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":560,"y":480,"wires":[["93e7a7e9e47c5383"]]},{"id":"2e1eabb204c5f845","type":"function","z":"b3626964d3ca3efc","name":"","func":"var d=msg.payload.date;\nvar t=msg.payload.time;\n\nvar date = d.slice(0,10)\nvar time=t.slice(10,25)\nvar hit=new Date(date+time)\nhit.setDate(hit.getDate() + 1);\nvar utc=hit.getTime()+(hit.getTimezoneOffset()*60000);\nvar offset=5.5\nnewDate = new Date(utc+(3600000*offset));\nvar n =newDate.toISOString()\nvar da = n.slice(0,10)\nvar ti=n.slice(11,16)\nmsg.payload={\n    \"_id\": da+\" \"+ti,\n    \"name\": msg.payload.name\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":680,"y":360,"wires":[["331a1eab63e02fac","51db7213a201c04f"]]},{"id":"331a1eab63e02fac","type":"function","z":"b3626964d3ca3efc","name":"","func":"msg.payload={\n    \"date\":\"\",\n    \"time\":\"\",\n    \"name\":\"\",\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":920,"y":400,"wires":[["1d9998b27568617e"]]},{"id":"7fb1124b295547bd","type":"debug","z":"b3626964d3ca3efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1090,"y":480,"wires":[]},{"id":"7b28d944264a04aa","type":"cloudantplus in","z":"b3626964d3ca3efc","name":"","cloudant":"e8e674ee5e0cb282","database":"node-red-enlbv-2022-11-04","service":"_ext_","search":"_id_","design":"","index":"","x":1100,"y":320,"wires":[[]]},{"id":"3bd136d585ee16b8","type":"debug","z":"b3626964d3ca3efc","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":370,"y":200,"wires":[]},{"id":"51db7213a201c04f","type":"cloudantplus out","z":"b3626964d3ca3efc","name":"","cloudant":"e8e674ee5e0cb282","database":"node-red-enlbv-2022-11-04","service":"_ext_","payonly":true,"operation":"insert","x":1060,"y":240,"wires":[[]]},{"id":"2dc705e9ed1b3ab2","type":"play audio","z":"b3626964d3ca3efc","name":"","voice":"","x":1170,"y":100,"wires":[]},{"id":"e8e674ee5e0cb282","type":"cloudantplus","host":"https://apikey-v2-2jzy07gxh6foo2jhn5tfo1k8c12ueqn3weg9kolpkm2n:7b9e69c73c1ff8711d0f323f05376bbd@531665c2-3667-4c6a-8eb7-df74d7359f6a-bluemix.cloudantnosqldb.appdomain.cloud","name":"","useapikey":false},{"id":"c61d91360b8924ac","type":"ibmiot","name":"device api","keepalive":"60","serverName":"","cleansession":true,"appId":"","shared":false},{"id":"30afb0f3e06414d4","type":"ui_group","name":"Medicine details","tab":"4c03f41d0461d64d","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"4c03f41d0461d64d","type":"ui_tab","name":"Medicine details","icon":"dashboard","disabled":false,"hidden":false}]